@import "@fontsource/cabin-condensed" layer(base);
@import "@fontsource/patua-one" layer(base);

@import "tailwindcss";

@theme {
  --font-sans: Cabin Condensed, georgia, sans-serif;
  --font-heading: Patua One, serif;

  --text-base: 1.25rem;
  --tracking-wide: 0.03em;
}

@layer base {
  html {
    @apply text-base tracking-wide leading-relaxed overflow-y-scroll;
  }

  main {
    @apply min-h-[70vh];
  }

  p {
    @apply my-4;
  }

  li p {
    @apply my-1;
  }

  a {
    @apply text-blue-600 hover:text-blue-300;
  }

  a.inherit-color {
    @apply text-inherit hover:text-blue-300;
  }

  code[class*="astro-code"],
  pre[class*="astro-code"] {
    @apply text-[0.85em];
  }

  pre {
    @apply p-4;
  }

  .line.highlighted {
    margin: 0 -12px 0 -16px;
    padding: 0 12px;
    width: calc(100% + 20px);
    @apply bg-orange-100 inline-block border-orange-500 border-l-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-4 leading-tight font-bold font-heading;
  }

  kbd {
    @apply px-2 py-1 text-sm font-mono bg-gray-100 border border-gray-300 rounded-sm;
  }
}
