---
import { getCollection } from 'astro:content'

import React from 'react'
import { FaRssSquare } from 'react-icons/fa'

import BaseLayout from '../layouts/BaseLayout.astro'
import { SectionTitle } from '../components/section-title'
import { PostsList } from '../components/post-list'

import { formatLongDate } from '../utils/dates'

const allBlogPosts = await getCollection('blog');
const allBlogPostsByMostRecent = allBlogPosts
  .toSorted((p1, p2) => (p2.data.date - p1.data.date))
  .map(
    (post) => {
      console.log(post.data);
      return ({
        title: post.data.title,
        description: "",
        date: formatLongDate(post.data.date),
        filePath: post.filePath || "",
      })
    }
);
---
<BaseLayout>
  <section>
  <SectionTitle>
    All posts
    <a href="/rss.xml">
      <FaRssSquare />
    </a>
  </SectionTitle>

  <PostsList posts={allBlogPostsByMostRecent} />
</section>
</BaseLayout>