---
import { getCollection } from 'astro:content'
import React from 'react'
import getReadingTime from 'reading-time';

import BaseLayout from '../layouts/BaseLayout.astro'

import { Avatar } from '../components/avatar'
import { SocialLinks } from '../components/social'
import { SectionTitle } from '../components/section-title'
import { SeeMoreStyles } from '../components/see-more'
import { PostsList } from '../components/post-list'

import { formatLongDate } from '../utils/dates'

const allBlogPosts = await getCollection('blog');
const mostRecent3Posts = allBlogPosts
  .toSorted((p1, p2) => (p2.data.date - p1.data.date))
  .slice(0, 3);
const mostRecent3PostsPreview = mostRecent3Posts.map(
  (post) => {
    const minutesRead = getReadingTime(post.body || "")
    return ({
        title: post.data.title,
        description: post.data.description,
        date: formatLongDate(post.data.date),
        filePath: post.filePath || '',
        minutesReadText: minutesRead.text,
      }
    )
  });
---

<BaseLayout>
  <section class='flex flex-col items-center'>
    <h1 class='text-4xl font-bold mt-8 mb-4'>Bruno Alla</h1>
    <Avatar />
    <p class='text-center max-w-[400px]'>
      Hi! I'm a web developer based in London, I work with Python &
      Django, I'm a DSF member and I help maintain a few Django projects,
      most notably Django REST Framework, Cookiecutter Django and DRF-excel.
    </p>
    <SocialLinks />
  </section>
  <section>
    <SectionTitle>Most recent posts</SectionTitle>

    <PostsList posts={mostRecent3PostsPreview}></PostsList>

    <SeeMoreStyles>
      <a href='/blog/'>See more...</a>
    </SeeMoreStyles>
  </section>

</BaseLayout>