---
import { getCollection } from 'astro:content'
import React from 'react'
import slugify from 'slugify'

import BaseLayout from '../../../layouts/BaseLayout.astro'
import { SeeMoreStyles } from '../../../components/see-more'
import { PostsList } from "../../../components/post-list";
import { getPostsByMostRecent } from '../../../utils/contents'

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const allTags = allPosts.map((post) => post.data.tags).flat();
  const uniqueTags = [...new Set(allTags)];
  return uniqueTags.map(tagName => {
    return ({ params: { tagSlug: slugify(tagName) } });
  });
}

const { tagSlug } = Astro.params;

const allPosts = await getPostsByMostRecent();
const taggedPosts = allPosts.filter((post) => {
  const postTagsSlugs = post.tags.map((t) => slugify(t));
  return postTagsSlugs.includes(tagSlug);
});
---

<BaseLayout>
  <section>
    <h1 class="text-3xl font-bold mt-8 mb-4">
      {`Posts tagged as "${tagSlug}"`}
    </h1>

    <PostsList posts={taggedPosts} />

    <SeeMoreStyles>
      <a href="/blog/">See all posts...</a>
    </SeeMoreStyles>
  </section>
</BaseLayout>
