name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        linter:
        - eslint
        - prettier

    steps:
    - uses: actions/checkout@v2

    # Setup node based on .nvmrc
    # https://github.com/actions/setup-node/issues/32#issuecomment-539794249
    - name: Read .nvmrc
      run: echo ::set-output name=NVMRC::$(cat .nvmrc)
      id: nvm
    - uses: actions/setup-node@v1
      with:
        node-version: '${{ steps.nvm.outputs.NVMRC }}'

    - run: yarn
    - run: |
        yarn lint:${{ matrix.linter }}


  lighthouse:
    runs-on: ubuntu-latest

    steps:
    - run: sleep 360  # 6 mins in seconds
      if: ${{ github.event_name == 'push' }}
    - name: Wait for deploy
      if: ${{ github.event_name == 'pull_request' }}
      uses: maddox/actions/wait-for-200@master
      env:
        URL: 'https://deploy-preview-${{ github.event.pull_request.number }}--browniebroke.netlify.app'
        SECONDS_BETWEEN_CHECKS: 30
        MAX_TRIES: 30
    - name: Lighthouse Audit
      uses: jakejarvis/lighthouse-action@master
      with:
        url: 'https://browniebroke.com/'
        netlify_site: 'browniebroke.netlify.app'
    - name: Upload report to Zeit
      run: |
        now -t ${{ secrets.ZEIT_TOKEN }} deploy ./report/https*.html | tee zeit-now.log
        TARGET_URL=`tail -n1 zeit-now.log`
        curl -X POST https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.sha }} \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -d "{
            \"state\": \"success\",
            \"target_url\": \"${TARGET_URL}\",
            \"description\": \"Lighthouse report\",
            \"context\": \"lighthouse-report\"
          }"
