name: CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    uses: browniebroke/github-actions/.github/workflows/ts-lint.yml@v1

  deploy:
    uses: browniebroke/github-actions/.github/workflows/netlify-deploy.yml@v1
    with:
      netlify_site_name: browniebroke
    secrets:
      netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}
      netlify_auth: ${{ secrets.NETLIFY_AUTH_TOKEN }}